/* 去除系统默认样式 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

html,
body {
    height: 100%;
}
body{
    background-image: url(/img/花瓣飘落.gif);
}

.header>a {
    display: block;
    background-color: rgb(214, 5, 4);
    height: 120px;
}

.header-pic {
    width: 1190px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.header-pic img {
    width: 100%;
    height: 120px;
}

.header-top {
    background-color: rgb(250, 250, 250);
}

.header-nav {
    margin: auto;
    width: 1190px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.header-nav-left ul li {
    float: left;
}

.header-nav-left img {
    width: 210px;
    height: 190px;
}

.header-nav-right ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-nav-right ul li {
    margin-right: 20px;
}

.header-nav-right ul li:last-child {
    margin-right: 0px;
}

/* 搜索框 */
.search-top {
    width: 1190px;
    height: 160px;
    margin: 0 auto;
}

.search {
    margin: auto;
    width: 930px;
    height: 160px;
    float: left;
}

.search-button {
    width: 626px;
    height: 50px;
    margin-top: 30px;
    margin-left: 50px;
}

.search-button input {
    width: calc(100% - 201px + 35px);
    height: 50px;
    /* 让input和button的中线对齐 */
    vertical-align: middle;
    border: 2px solid rgb(14, 56, 177);
    border-left: none;
}

.search-button button {
    width: calc(100% - 560px);
    border: 2px solid rgb(14, 56, 177);
    height: 50px;
    vertical-align: middle;
    background-color: rgb(14, 56, 177);
    cursor: pointer;
    color: #fff;
}

.search-button-pull {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    border: 2px solid rgb(14, 56, 177);
    overflow: hidden;
    float: left;
    transition: all 0.5s;
}

.search-button-pull .left {
    width: 100px;
    height: 50px;
    position: relative;
}

.search-button-pull .left div {
    position: absolute;
    top: 0px;
    left: 75px;

}

.left-two,
.left-three {
    width: 133px;
    height: 50px;
    background-color: #fff;
    border: 1px solid gray;
}

.left-two:hover,
.left-three:hover {
    background-color: aliceblue;
}

.search-button-pull .iconfont {
    display: inline-block;
}

.search-button-pull:hover .iconfont {
    transform: rotate(180deg);
}

.search-button-pull:hover {
    cursor: pointer;
    overflow: visible;
    background-color: aliceblue;
}

.search-button-baby {
    width: 360px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 230px;
}

.search-button-baby ul li {
    float: left;
    margin-right: 25px;
}

.search-button-center {
    width: 1000px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-top: 20px;
}

.search-button-center ul li {
    float: left;
    margin-right: 60px;
}

.search-button-center ul li:last-child {
    margin-right: 0px;
}

.search-button-center ul li:nth-child(1) {
    color: #289aed;
}

.search-button-right {
    width: 120px;
    height: 120px;
    float: right;
    margin-right: 70px;
    margin-top: -70px;
}

.search-button-right img {
    width: 100%;
}



.lunbo {
    width: 1190px;
    height: 450px;
    /* background-color: pink; */
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
}

.lunbo-swiper {
    width: 10000px;
    animation: lunbo 24s linear infinite;
}

.lunbo-pic {
    float: left;
}

.lunbo img {
    width: 1190px;
    margin: 0 auto;
}

@keyframes lunbo {
    0% {
        transform: translateX(0px);
    }

    8.3% {
        transform: translateX(-1190px);
    }

    16.6% {
        transform: translateX(-1190px);
    }

    24.9% {
        transform: translateX(-2380px);
    }

    33.2% {
        transform: translateX(-2380px);
    }

    41.5% {
        transform: translateX(-3570px);
    }

    49.8% {
        transform: translateX(-3570px);
    }

    58.1% {
        transform: translateX(-4760px);
    }

    66.4% {
        transform: translateX(-4760px);
    }

    74.7% {
        transform: translateX(-5950px);
    }

    83% {
        transform: translateX(-5950px);
    }

    91.3% {
        transform: translateX(-7140px);
    }

    100% {
        transform: translateX(-7140px);
    }
}

.center1 {
    width: 1190px;
    height: 890px;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
}

.center1 .left {
    width: 350px;
    /* background-color: yellow; */
}

.center1 .quanbufenlei {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(9, 66, 199);
}

.center1 .quanbufenlei .iconfont {
    margin-left: 10px;
    font-size: 25px;
}

.xihuafenlei {
    height: 120px;
    color: #fff;
    background-color: rgb(14, 56, 177);
    position: relative;
    padding-left: 10px;
}

.xihuafenlei ul li {
    margin-right: 24px;
    margin-top: 20px;
    float: left;
    font-size: 15px;
    opacity: 0.7;
}

.xihuafenlei .box1 {
    font-size: 18px;
}

.xihuafenlei .box2 {
    position: absolute;
    right: 10px;
    top: 5px;
}

.center1 .center2 {
    flex: 1;
}

.center2 div {
    width: 530px;
    height: 425px;
    margin-left: 15px;
}

.center2-top {
    margin-bottom: 20px;
}

.center2 video {
    /* 视频全屏 */
    object-fit: cover;
    width: 530px;
    height: 425px;
}

.center2-bottom {
    margin-top: 40px;
}

.center1 .right {
    width: 280px;
    position: relative;
}

.right-top {
    width: 282px;
    height: 282px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(172, 170, 170);
}

.right-top div:nth-child(1) {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 2px solid rgb(202, 198, 198);
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 106px;
}

.right-top .iconfont {
    font-size: 50px;
    color: gray;
}

.right-top .right-top-one {
    font-size: 20px;
    position: absolute;
    left: 130px;
    top: 110px;
}

.right-top .right-top-two {
    font-size: 20px;
    position: absolute;
    left: 50px;
    top: 150px;
}

.right-top div:not(:nth-child(1)) {
    font-size: 16px;
    text-align: center;
    width: 60px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-right: 10px;
    margin-top: 200px;
    margin-left: 20px;
    border-radius: 10%;
}

.right-top-three {
    color: #fff;
    background-color: rgb(14, 56, 177);
}

.right-top-four,
.right-top-five {
    color: red;
    border: 1px solid red;
}

.right-bottom {
    width: 282px;
    height: 588px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    border: 1px solid rgb(199, 195, 195);
}

.right-bottom div {
    font-size: 14px;
    width: 282px;
    height: 55px;
    line-height: 55px;
    text-align: center;
}

.right-bottom-top {
    background-color: rgb(216, 214, 214);
}

.right-bottom-top div {
    width: 56px;
    float: left;
    margin-left: 14px;
}

.right-bottom>.right-bottom-center {
    width: 282px;
    height: 80px;
}

.right-bottom-center .box1 {
    width: 75px;
    float: left;
    position: relative;
    margin-right: 18px;
}

.right-bottom-center img {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.right-bottom>.right-bottom-bottom {
    width: 282px;
    height: 475px;
}

.right-bottom .right-bottom-bottom-left {
    width: 141px;
    height: 450px;
    /* background-color: red; */
    float: left;
}

.right-bottom .right-bottom-bottom-right {
    width: 141px;
    height: 450px;
    /* background-color: yellow; */
    float: right;
}

.right-bottom-bottom-left ul li,
.right-bottom-bottom-right ul li {
    font-size: 12px;
    width: 70.5px;
    height: 50px;
    line-height: 50px;

}

.right-bottom-bottom-right ul li {
    margin-left: 60px;
}

.footer1 {
    width: 1190px;
    height: 215px;
    margin: 0 auto;
    margin-top: 50px;
}

.footer1 .footer1-top {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.footer1 .footer1-top div {
    width: 190px;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.377);
    position: relative;
}

.footer1-top div p,
.footer1-bottom div p {
    position: absolute;
    top: 32px;
    left: 55px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.footer1 .footer1-bottom {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.footer1 .footer1-bottom div {
    width: 160px;
    height: 90px;
    background-color: rgba(0, 128, 0, 0.548);
    position: relative;
}

.footer1-bottom div {
    margin-top: 35px;
}

.footer1-top div img,
.footer1-bottom div img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.footer2{
    width: 1190px;
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
}
.footer2 .mingjitoutiao{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border-left: 5px solid #289aed;
}
.footer2 .mingjizhaopin{
    width: 1190px;
    height: 94px;
    margin-top: 15px;
    position: relative;
}
.mingjizhaopin div{
    width: 65px;
    height: 110px;
}
.mingjizhaopin img{
    width: 100%;
    height: 94px;
    float: left;
}
.mingjizhaopin p{
    width: 1000px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.mingjizhaopin div:nth-child(2){
    width: 200px;
    height: 94px;
    position: absolute;
    top: 0;
    right: 0;
}
.jingcaizhuanti{
    width: 1190px;
    height: 265px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
.jingcaizhuanti-left{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border-left: 5px solid #289aed;
}
.jingcaizhuanti-right{
    position: absolute;
    top: 10px;
    right: 0;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.jingcaizhuanti-right .iconfont{
    font-size: 20px;
    font-weight: 700;
}
.jingcaizhuanti-pic{
    width: 1190px;
    height: 205px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.jingcaizhuanti-pic div{
    width: 275px;
}
.jingcaizhuanti-pic img{
    width: 100%;
    height: 100%;
}